body {
  margin: 0;
  background-color: #064B80; /* Фон страницы (темно-синий) */
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column; /* Изменено на столбец */
  align-items: center; /* Центрирование по горизонтали */
  background-color: #97C3E4; /* Фон шапки (светло-голубой) */
  padding: 20px;
}

.logo {
  align-self: flex-start; /* Логотип слева */
  font-size: 24px; /* Размер логотипа */
}

.menu {
  flex-grow: 1; /* Занять оставшееся пространство */
  display: flex;
  flex-direction: column; /* Вертикальное расположение для меню */
  align-items: center; /* Центрирование по горизонтали */
}

.menu nav ul {
  list-style-type: none; /* Убрать маркеры списка */
  display: flex; /* Горизонтальное расположение ссылок */
  justify-content: center; /* Центрирование ссылок */
  margin-bottom: 10px; /* Отступ снизу */
  padding: 0; /* Убрать отступы */
}

.menu nav ul li {
  margin-right: 20px; /* Отступ между ссылками */
}

.menu nav ul li a {
  color: white; /* Цвет текста */
  text-decoration: none; /* Убрать подчеркивание */
  padding: 5px 10px; /* Отступы внутри ссылки */
  background-color: #1D5B8A; /* Фон ссылки */
  border-radius: 5px; /* Закругление углов */
}

.menu nav ul li a:hover {
  background-color: #FFB85A; /* Цвет ссылки при наведении */
}

.site-name {
  font-size: 24px; /* Размер названия сайта */
  text-align: center; /* Выравнивание по центру */
  margin-top: 10px; /* Отступ сверху */
}
